import { Component, OnInit } from '@angular/core';

/**
 * <%= classify(name) %> module wrapper
 */
@Component({
  templateUrl: './<%= dasherize(name) %>-wrapper.component.html',
  styleUrls: ['./<%= dasherize(name) %>-wrapper.component.scss']
})
export class <%= classify(name) %>WrapperComponent implements OnInit {

  // tslint:disable-next-line: completed-docs
  ngOnInit() {}
}
