/**
 * I<%= classify(name) %><% if (group !== AUXILIARY_NAME && group !== EXCLUDE_NAME) { %><%= classify(group) %><% } %> description
 */
export interface I<%= classify(name) %><% if (group !== AUXILIARY_NAME && group !== EXCLUDE_NAME) { %><%= classify(group) %><% } %> {
}
