import { Injectable } from '@angular/core';

/**
 * TODO: Document <%= classify(name) %>Facade purpose
 */
@Injectable({
  providedIn: 'root'
})
export class <%= classify(name) %>Facade {

  constructor() { }
}
